.body {
  background-color: hsl(0, 0%, 94%);
}

.css-194a1fa-MuiSelect-select-MuiInputBase-input.MuiSelect-select {
  padding: 0%;
  margin-top: -31%;
  /* font-size: 100px; */
}

.MuiTablePagination-selectIcon {
  padding: none;
  margin-top: -15%;
  /* font-size: 100px; */
}

.MuiTablePagination-displayedRows {
  margin-top: 0%;
}

.MuiTablePagination-actions {
  margin-top: -1.5%;
}
