.listContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.listWrapper {
  width: 90%;
  max-width: 2000px;
  display: flex;
  gap: 20px;
}

.listSearch {
  flex: 1;
  background-color: #febb02;
  /* background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%); */

  padding: 10px;
  border-radius: 10px;
  position: sticky;
  top: 10px;
  height: max-content;
}

.lsTitle {
  font-size: 22px;
  font-weight: 500;
  color: #000;
  margin-bottom: 10px;
}

.lsItem {
  display: flex;
  flex-direction: column;
  /* gap: 3px; */
  margin-bottom: 10px;
  border-radius: 5px;
}

.lsItem > label {
  font-size: 12px;
  font-weight: 650;
  margin-bottom: 2px;
}
/* .font-icon {
  vertical-align: middle;
  max-width: 256px;
  max-height: 256px;
  overflow: hidden;
} */
.lsInput {
  display: flex;
  align-items: center;
  gap: 10px;
}
.lsIcon {
  color: lightgray;
  width: 15px;
}
.lsItem > input {
  margin-bottom: 10px;
  height: 40px;
  position: static;
  top: auto;
  left: auto;
  right: auto;
  border: none;
  padding-left: 35px;
  border-radius: 5px;
}
.lsItem > span {
  padding-left: 35px;
  padding-right: 22px;
  position: static;
  top: auto;
  left: auto;
  right: auto;
  width: 100%;
  height: 40px;
  /* padding: 5px; */
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}

.lsOptions {
  padding: 10px;
}

.lsOptionItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #555;
  font-size: 12px;
  border-radius: 5px;
}

.lsOptionInput {
  width: 50px;
  border-radius: 3px;
}

.listSearch > button {
  padding: 10px;
  background-color: #0071c2;
  color: white;
  border: none;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
}

.listResult {
  flex: 3;
}
