*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body {
  min-height: 100%;
}

footer{
  background: #003580;
  width: 100%;
  min-width: 575px;
  height: 200px;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #fff;
  text-align: center; 
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: cloumn;
  text-align: center;
  
}

.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
  align-items: center;
}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;   
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0.3rem;
}

.socials li{
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  transition: color .4s ease;
}

.socials a:hover{
  color: #0071c2;
}

.footer-bottom{
  background: #022960;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

.footer {
  margin-top: auto;
}

@media (min-height: 1100px)  {
 
  
footer{ 
  position:fixed;
  bottom:10px;
}
}

@media  (min-height: 670px) and (max-width: 500px) {

  footer{ 
  position:fixed;
  bottom:50px;
}
}

@media (min-height: 653px) and (max-width: 280px) {

  footer {
    position: fixed;
    bottom: 50px;
  }

}
