.footer-container {
  background-color:#003580;
  padding: 4rem 0 2rem 0;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
}

.footerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 24px;
  padding: 100px;
  position: absolute;
  bottom: 10;
  color: #fff
}

.footer-subscription > p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.footer-subscription-text {
  margin-bottom: 24px;
  font-size: 20px;
}

.footer-input::placeholder {
  color: #b1b1b1;
}

@media screen and (max-width: 820px) {

  .footer-input {
    width: 100%;
    height: auto;
  }

  .social-media-wrap {
    flex-direction: column;
  }
}
