@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

  /* body, card {
    min-width: 100%;
    max-width: 100%;
  }

  .container-fluid {
    min-width: 575px;
  } */

body,
input {
  font-family: "Poppins", sans-serif; left:200px;
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

@media screen and (max-width : 769px) {
  input {
    left:0px
  }
}