.navbar {
  height: 50px;
  width: 100%;
  min-width: 575px;
  background-color: #003580;
}

.navContainer {
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 500;
}

.navButton {
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #003580;
  border-radius: 3px;
}

.addTransportPageHeader {
  background-color: #003580;
  padding: 33.5px;
}
